body {
	font-family: verdana;
	font-size: 10pt !important;
}

h1 {
	font-size: 1em;
}


img.large_thumb {
	height: 50px;
}

td.summary span {
	font-size: 0.8em;
}

span.list_title {
	font-size: 1em !important;
}

.noprint {
	display: none;
}